<!DOCTYPE html>
<html lang="en">

<head>
    {% block title %}<title>DND Zero</title>{% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'dnd_zero/css/style.css' %}" />
</head>

<body>
    {% block headbar %}
    <div class="header">
        <div class="container header-container">

            <div class="container logo-container">
                <a href="{% url 'home' %}"><img class="logo" src="{% static 'firstapp/images/logo/dnd_zero.png' %}" alt='DND Zero' width="150" height="50"></a>
            </div>

            <div class="navigation-container">
                <a href="{% url 'handbook' %}" class="nav-link">Handbook</a>
                <a href="{% url 'legends' %}" class="nav-link">Legends</a>
                <a href="{% url 'about' %}" class="nav-link">About</a>
                <a href="{% url 'my_characters' %}" class="nav-link">My Characters</a>
                {% if user.is_superuser %}
                    <a href="{% url 'all_characters' %}" class="nav-link">All Characters</a>
                {% endif %}

            </div>

            <div class="user-container">
                {% if user.is_authenticated %}
                    <a href="{% url 'master_detail' user.username %}" class="log-link">{{ user.get_username }}</a>
                    <a href="{% url 'master_detail' user.get_username %}"><img class="master_logo" src="#" alt='Master logo' width="50" height="50"></a>
                {% else %}
                    <a href="{% url 'signup'%}" class="log-link">Sign Up</a>
                    <a href="{% url 'signin'%}" class="log-link">Log in</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endblock %}

    <div class="body-container">
        <div class="left-block">
            {% block left %}{% endblock%}
        </div>

        <div class="center-block">
            {% block central %}{% endblock%}
        </div>

        <div class="right-block">
            {% block right %}{% endblock%}
        </div>
    </div>

    <div class="footer">
        &copy; 2023
    </div>

</body>

</html>
